html, body {
	height:100%;
}

.carousel {
	height:60%;
}

.item,
.active,
.carousel-inner {
	height:100%;
}

.fill {
	width:100%;
	height:100%;
	background-position: top;
	background-size: cover;
}

.section {
	margin: 50px 0;
}

footer {
	margin: 50px 0;
}